<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Accueil</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="../../vendor/inputmask.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
</head>

<body>
    <div th:fragment="footer" class="col-md-12 column">
        <!--<div class="hero-unit">-->
            <!--<h1>Heading</h1>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui. Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu. </p>-->
            <!--<p>-->
                <!--<a class="btn btn-primary btn-large">Learn more</a>-->
            <!--</p>-->
        <!--</div>-->

        <div class="row">
            <div class="col-md-12 column">
                <div class="col-md-4">
                    <address>
                        <strong>Nom du cabinet</strong>
                        <br/>Adresse ligne 1<br/>Adresse ligne 2<br/>75000<br/>Paris
                        <br/><abbr title="Tél">Tél:</abbr>01 02 03 04 05
                        <br/><abbr title="Fax">Fax:</abbr>01 02 03 04 05
                        <br/><abbr title="Mél">Mél:</abbr>michel.perret@avocats.com
                    </address>
                </div>
                <div class="col-md-4">
                    <address>
                        <strong>Nom du cabinet</strong>
                        <br/>Adresse ligne 1<br/>Adresse ligne 2<br/>75000<br/>Paris
                        <br/><abbr title="Tél">Tél:</abbr>01 02 03 04 05
                        <br/><abbr title="Fax">Fax:</abbr>01 02 03 04 05
                        <br/><abbr title="Mél">Mél:</abbr>michel.perret@avocats.com
                    </address>
                </div>
                <div class="col-md-4">

                    <address>
                        <strong>Nom du cabinet</strong>
                        <br/>Adresse ligne 1<br/>Adresse ligne 2<br/>75000<br/>Paris
                        <br/><abbr title="Tél">Tél:</abbr>01 02 03 04 05
                        <br/><abbr title="Fax">Fax:</abbr>01 02 03 04 05
                        <br/><abbr title="Mél">Mél:</abbr>michel.perret@avocats.com
                    </address>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
